# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @imodeljs/viewer-components-reviewers

/packages/imodel-select  @imodeljs/viewer-components-reviewers @wilmaier @calebmshafer
/common/changes/@bentley/imodel-select-react  @imodeljs/viewer-components-reviewers @wilmaier @calebmshafer

/packages/markup-frontstage  @imodeljs/viewer-components-reviewers @JoeZman @archana-maharjan
/common/changes/@bentley/markup-frontstage-react  @imodeljs/viewer-components-reviewers @JoeZman @archana-maharjan

/packages/property-grid  @imodeljs/viewer-components-reviewers @JoeZman @aruniverse @diegopinate
/common/changes/@bentley/property-grid-react  @imodeljs/viewer-components-reviewers @JoeZman @aruniverse @diegopinate

/packages/tree-widget  @imodeljs/viewer-components-reviewers @JoeZman @diegopinate @aruniverse @JValiunas @michaalx
/common/changes/@bentley/tree-widget-react  @imodeljs/viewer-components-reviewers @JoeZman @diegopinate @aruniverse @JValiunas @michaalx

/packages/imodel-content-tree  @imodeljs/viewer-components-reviewers @grigasp
/common/changes/@bentley/imodel-content-tree-react  @imodeljs/viewer-components-reviewers @grigasp

/packages/imodel-react-hooks  @imodeljs/viewer-components-reviewers @michaelbelousov
/common/changes/@bentley/imodel-react-hooks  @imodeljs/viewer-components-reviewers @michaelbelousov

/packages/geo-tools  @imodeljs/viewer-components-reviewers @mdastous-bentley
/common/changes/@bentley/geo-tools-react  @imodeljs/viewer-components-reviewers @mdastous-bentley

/packages/measure-tools  @imodeljs/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/common/changes/@bentley/measure-tools-react  @imodeljs/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
