# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @itwin/viewer-components-reviewers

/apps/test-viewer  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation
/apps/learning-snippets  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation
/apps/performance-tests  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation

/packages/itwin/property-grid  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation
/change/@itwin-property-grid-react*  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation

/packages/itwin/tree-widget  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation
/change/@itwin-tree-widget-react*  @itwin/viewer-components-reviewers @itwin/itwinjs-core-presentation

/packages/itwin/measure-tools  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw
/change/@itwin-measure-tools-react*  @itwin/viewer-components-reviewers @simnorm @a-gagnon @bsy-nicholasw

/packages/itwin/grouping-mapping-widget  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform
/change/@itwin-grouping-mapping-widget*  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform

/packages/itwin/one-click-lca-widget  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform
/change/@itwin-one-click-lca-react*  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform

/packages/itwin/reports-config-widget  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform
/change/@itwin-reports-config-widget-react*  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform

/packages/itwin/breakdown-trees  @itwin/viewer-components-reviewers @DanishMehmood-bit
/change/@itwin-breakdown-trees-react*  @itwin/viewer-components-reviewers @DanishMehmood-bit

/packages/itwin/geo-tools  @itwin/viewer-components-reviewers @mdastous-bentley
/change/@itwin-geo-tools-react*  @itwin/viewer-components-reviewers @mdastous-bentley

/packages/itwin/imodel-react-hooks  @itwin/viewer-components-reviewers
/change/@itwin-imodel-react-hooks*  @itwin/viewer-components-reviewers

/packages/itwin/ec3-widget  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform
/change/@itwin-ec3-widget-react*  @itwin/viewer-components-reviewers @itwin/insights-and-reporting-platform

/packages/itwin/map-layers  @itwin/viewer-components-reviewers @mdastous-bentley @eringram
/change/@itwin-map-layers*  @itwin/viewer-components-reviewers @mdastous-bentley @eringram
