# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*  @imodeljs/viewer-components-reviewers

/packages/imodel-select  @wilmaier @calebmshafer
/common/changes/@bentley/imodel-select-react  @wilmaier @calebmshafer

/packages/markup-frontstage  @JoeZman @archana-maharjan
/common/changes/@bentley/markup-frontstage-react  @JoeZman @archana-maharjan

/packages/property-grid  @JoeZman @aruniverse @diegopinate
/common/changes/@bentley/property-grid-react  @JoeZman @aruniverse @diegopinate

/packages/tree-widget  @JoeZman @diegopinate @aruniverse @JValiunas @michaalx
/common/changes/@bentley/tree-widget-react  @JoeZman @diegopinate @aruniverse @JValiunas @michaalx

/packages/imodel-content-tree  @grigasp
/common/changes/@bentley/imodel-content-tree-react  @grigasp

/packages/imodeljs-react-hooks @michaelbelousov
/common/changes/@bentley/imodeljs-react-hooks @michaelbelousov