# Logs
*.log

# build output
.nyc_output
/**/lib
/**/build
/**/test/output
coverage
full_stack_test_results
integration_test_results
imjs_extensions

# Dependency directories
node_modules/
package-lock.json

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz


# trash
*.bak
*.orig
.node-xmlhttprequest-sync*

# rush specific
common/temp/**
.rush/temp/**
/**/.rush
package-deps.json
*.build.log
*.build.error.log

# DS store
.DS_Store