# Logs
*.log

# build output
.nyc_output
/**/lib
/**/build
/**/test/output
coverage
full_stack_test_results
integration_test_results
imjs_extensions

# Dependency directories
node_modules/
package-lock.json

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.e2e

# trash
*.bak
*.orig
.node-xmlhttprequest-sync*

# e2e tests output
/**/test-results
/**/playwright-report
/**/playwright/.cache

# api extractor temp files
/packages/**/api/temp
