@bentley:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/

resolution-mode=lowest-direct

link-workspace-packages=false
shared-workspace-lockfile=false

side-effects-cache=false
