@bentley:registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
registry=https://registry.npmjs.org/

hoist-pattern[]=*
hoist-pattern[]=!typescript
hoist-pattern[]=!*eslint*
hoist-pattern[]=!react*
hoist-pattern[]=!@types/*
hoist-pattern[]=!@itwin/*

resolution-mode=lowest-direct
