@bentley:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/

resolution-mode=lowest-direct

shared-workspace-lockfile=false
side-effects-cache=false

inject-workspace-packages=true
sync-injected-deps-after-scripts[]=build

package-manager-strict=false
