{
  "printWidth": 160,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["", ".s?css$", "", "<BUILTIN_MODULES>", "^[A-Za-z]", "^@", "^[.]", "", "<TYPES>", "<TYPES>^@", "<TYPES>^[.]", ""],
  "overrides": [
    {
      "files": ["**/learning-snippets/**/*.ts*", "**/test/**/setup.ts"],
      "options": {
        "importOrder": []
      }
    }
  ],
  "importOrderSafeSideEffects": [".s?css$"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false
}
