.ec3w-template-creation-step-one {
  height: 100%;
  margin-top: var(--iui-size-xs);
  .ec3w-input-form {
    margin-bottom: var(--iui-size-xs);
  }
}
.ec3w-stepper-footer {
  align-self: center;
  .ec3w-footer-button {
    margin-right: var(--iui-size-xs);
  }
}
