{
  "swagger": "2.0",
  "info": {
    "title": "Reporting",
    "version": "v1",
    "description": "Reporting is a resource for aggregating iTwin data to build custom dashboards and integrate iTwin data with your business applications.\r\n\r\n- Create digitial twin based reports which can be consumed through business intelligence applications such as Power BI.\r\n- Leverage the OData feed Data Access to generate reports by combining data from multiple data streams in the digital twin."
  },
  "host": "api.bentley.com",
  "basePath": "/insights/reporting",
  "schemes": ["https"],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-Api-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    },
    "oauth2Bentley OAuth2 Service": {
      "type": "oauth2",
      "scopes": {
        "insights:read insights:modify": ""
      },
      "flow": "accessCode",
      "authorizationUrl": "https://ims.bentley.com/connect/authorize",
      "tokenUrl": "https://ims.bentley.com/connect/token"
    }
  },
  "security": [
    {
      "apiKeyHeader": [],
      "oauth2Bentley OAuth2 Service": ["insights:read insights:modify"]
    },
    {
      "apiKeyQuery": [],
      "oauth2Bentley OAuth2 Service": ["insights:read insights:modify"]
    }
  ],
  "paths": {
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}/properties": {
      "get": {
        "description": "---\r\n\r\nGets all GroupProperties for a Group.\r\n\r\n### Mapping ECProperties\r\n\r\nGroupProperties define mappings from ECProperties on an iModel to columns. They allow mapping the queried, element, element aspect, or related element properties.\r\n\r\nContent of the columns depend on the `ecProperties` field. The `ecProperties` field is a prioritized array which contains `ECProperty` entities. The closer the `ECProperty` is to the array's start, the higher the priority. The priority of `ECProperty` can be changed by reordering the `ecProperties` array. Reading of the `ecProperties` array stops when a valid value is found. For example, if the `ecProperties` array contains 2 entries and the first entry results in a null or undefined value, it will take the second entry. The value can be undefined if the given ECProperty does not exist. The result column will be filled with a null value if no valid value was found.\r\n\r\nEvaluating `ecProperties` is prioritized by:\r\n\r\n1. Queried properties\r\n2. Element properties\r\n3. Element aspect properties\r\n\r\nHaving queried properties as the highest priority allows for constant or complex values to be added to a mapping.\r\n\r\n`ECProperty` lookup is defined by 3 values - `ECSchemaName`, `ECClassName`, and `ECPropertyName`.\r\n\r\n`ECSchemaName` and `ECClassName` are used together to create a ECClassId which is the ECClassId of the current row when selecting a property. Class inheritance is _not_ checked. If the ECClassId of a selected row does not match the `ECSchemaName` and `ECClassName` pair, the value for this `ECProperty` is considered undefined. If the formed ECClassId is of an element aspect, the current selected row is an element and there is only 1 instance of that element aspect related to the element, the property lookup is done on the element aspect.\r\n\r\n`ECSchemaName` and `ECClassName` are case-insensitive.\r\n\r\n`ECSchemaName` and `ECClassName` can be set to a wildcard value `*`.\r\n\r\n- If the value of `ECSchemaName` is `*` and the value of `ECClassName` is `Beam`, then it will match any `Beam` class from any schema (e.g. `Building.Beam`, `Structural.Beam`, etc.)\r\n- If the value of `ECSchemaName` is `Building` and the value of `ECClassName` is `*`, then it will match any class from the schema `Building` (e.g. `Building.Beam`, `Building.CurtainWall`, etc.)\r\n- If values of `ECSchemaName` and `ECClassName` are `*`, then it will match any ECClassId (e.g. `Building.Beam`, `Structural.Column`, etc.)\r\n- If either value of `ECSchemaName` or `ECClassName` are `*`, then no element aspect lookup is done\r\n\r\nSet `ECPropertyName` to a property name that you want to select. The value of `ECPropertyName` can also be a path defining how to find a property. The path segments must be separated by a period (`.`). The path can contain the names of:\r\n\r\n- A navigation property\r\n- A struct property\r\n- A string property that happens to contain a string representation of a json object\r\n- A property inside the selected json\r\n\r\nNames of properties are not case sensitive. If json object does not have duplicate property names which only differ in letter casing, then those json properties are not case sensitive. We recommend treating json properties as case sensitive.\r\n\r\n- If `Category` property is a navigation property with a value of `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` and the `ECPropertyName` is set to `Category` or `category`, then the whole value `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` will be selected\r\n- If `Category` property is a navigation property with a value of `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` and the `ECPropertyName` is set to `Category.id`, then only the `id` value `0x2000000000b` will be selected\r\n- If `Category` property is a navigation property and it points to a row that has a property `CodeValue` that we want to select, the `ECPropertyName` should be set to `Category.CodeValue`\r\n- If `Model` property is a navigation property and it points to a row that has a property `JsonProperties` with a value `{\"formatter\":{\"mastUnit\":{\"label\":\"m\"}}}` and we want to select the master unit label, the `ECPropertyName` should be set to `Model.JsonProperties.formatter.mastUnit.label`. The result will be `m`\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-groupproperties",
        "summary": "Get GroupProperties",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "type": "integer"
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Retrieved GroupProperties successfully.",
            "schema": {
              "$ref": "#/definitions/GroupProperty_Collection"
            },
            "examples": {
              "application/json": "{\r\n    \"properties\": [\r\n        {\r\n            \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n            \"propertyName\": \"Length\",\r\n            \"dataType\": \"Number\",\r\n            \"quantityType\": \"Undefined\",\r\n            \"ecProperties\": [\r\n                {\r\n                    \"ecSchemaName\": \"Building\",\r\n                    \"ecClassName\": \"Beam\",\r\n                    \"ecPropertyName\": \"Structural_Length\",\r\n                    \"ecPropertyType\": \"Number\"\r\n                }\r\n            ]\r\n        }\r\n    ],\r\n    \"_links\": {\r\n        \"next\": {\r\n            \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/properties/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a\" \r\n        },\r\n        \"self\": {\r\n            \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/properties/?$top=100\"\r\n        }\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "404": {
            "description": "Specified GroupProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupPropertyNotFound\",\r\n        \"message\": \"Requested GroupProperty is not available.\",\r\n        \"target\": \"id\"\r\n    }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidInsightsRequest\",\r\n        \"message\": \"Error message.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "post": {
        "description": "---\r\n\r\nCreates a GroupProperty for a Group. Each GroupProperty defines a column of mapped data.\r\n\r\n### Mapping ECProperties\r\n\r\nGroupProperties define mappings from ECProperties on an iModel to columns. They allow mapping the queried, element, element aspect, or related element properties.\r\n\r\nContent of the columns depend on the `ecProperties` field. The `ecProperties` field is a prioritized array which contains `ECProperty` entities. The closer the `ECProperty` is to the array's start, the higher the priority. The priority of `ECProperty` can be changed by reordering the `ecProperties` array. Reading of the `ecProperties` array stops when a valid value is found. For example, if the `ecProperties` array contains 2 entries and the first entry results in a null or undefined value, it will take the second entry. The value can be undefined if the given ECProperty does not exist. The result column will be filled with a null value if no valid value was found.\r\n\r\nEvaluating `ecProperties` is prioritized by:\r\n\r\n1. Queried properties\r\n2. Element properties\r\n3. Element aspect properties\r\n\r\nHaving queried properties as the highest priority allows for constant or complex values to be added to a mapping.\r\n\r\n`ECProperty` lookup is defined by 3 values - `ECSchemaName`, `ECClassName`, and `ECPropertyName`.\r\n\r\n`ECSchemaName` and `ECClassName` are used together to create a ECClassId which is the ECClassId of the current row when selecting a property. Class inheritance is _not_ checked. If the ECClassId of a selected row does not match the `ECSchemaName` and `ECClassName` pair, the value for this `ECProperty` is considered undefined. If the formed ECClassId is of an element aspect, the current selected row is an element and there is only 1 instance of that element aspect related to the element, the property lookup is done on the element aspect.\r\n\r\n`ECSchemaName` and `ECClassName` are case-insensitive.\r\n\r\n`ECSchemaName` and `ECClassName` can be set to a wildcard value `*`.\r\n\r\n- If the value of `ECSchemaName` is `*` and the value of `ECClassName` is `Beam`, then it will match any `Beam` class from any schema (e.g. `Building.Beam`, `Structural.Beam`, etc.)\r\n- If the value of `ECSchemaName` is `Building` and the value of `ECClassName` is `*`, then it will match any class from the schema `Building` (e.g. `Building.Beam`, `Building.CurtainWall`, etc.)\r\n- If values of `ECSchemaName` and `ECClassName` are `*`, then it will match any ECClassId (e.g. `Building.Beam`, `Structural.Column`, etc.)\r\n- If either value of `ECSchemaName` or `ECClassName` are `*`, then no element aspect lookup is done\r\n\r\nSet `ECPropertyName` to a property name that you want to select. The value of `ECPropertyName` can also be a path defining how to find a property. The path segments must be separated by a period (`.`). The path can contain the names of:\r\n\r\n- A navigation property\r\n- A struct property\r\n- A string property that happens to contain a string representation of a json object\r\n- A property inside the selected json\r\n\r\nNames of properties are not case sensitive. If json object does not have duplicate property names which only differ in letter casing, then those json properties are not case sensitive. We recommend treating json properties as case sensitive.\r\n\r\n- If `Category` property is a navigation property with a value of `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` and the `ECPropertyName` is set to `Category` or `category`, then the whole value `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` will be selected\r\n- If `Category` property is a navigation property with a value of `{\"id\":\"0x2000000000b\",\"relClassName\":\"BisCore.GeometricElement3dIsInCategory\"}` and the `ECPropertyName` is set to `Category.id`, then only the `id` value `0x2000000000b` will be selected\r\n- If `Category` property is a navigation property and it points to a row that has a property `CodeValue` that we want to select, the `ECPropertyName` should be set to `Category.CodeValue`\r\n- If `Model` property is a navigation property and it points to a row that has a property `JsonProperties` with a value `{\"formatter\":{\"mastUnit\":{\"label\":\"m\"}}}` and we want to select the master unit label, the `ECPropertyName` should be set to `Model.JsonProperties.formatter.mastUnit.label`. The result will be `m`\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "create-groupproperty",
        "summary": "Create GroupProperty",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of the Group for which to create a new GroupProperty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "groupProperty_Create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GroupProperty_Create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Created a new GroupProperty successfully.",
            "schema": {
              "$ref": "#/definitions/GroupProperty_Single"
            },
            "examples": {
              "application/json": "{\r\n    \"property\": {\r\n        \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n        \"propertyName\": \"Length\",\r\n        \"dataType\": \"Number\",\r\n        \"quantityType\": \"Undefined\",\r\n        \"ecProperties\": [\r\n            {\r\n                \"ecSchemaName\": \"Building\",\r\n                \"ecClassName\": \"Beam\",\r\n                \"ecPropertyName\": \"Structural_Length\",\r\n                \"ecPropertyType\": \"Number\"\r\n            }\r\n        ]\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InsufficientPermissions\",\r\n        \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n    }\r\n}"
            }
          },
          "404": {
            "description": "Specified GroupProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupPropertyNotFound\",\r\n        \"message\": \"Requested GroupProperty is not available.\",\r\n        \"target\": \"id\"\r\n    }\r\n}"
            }
          },
          "409": {
            "description": "GroupProperty with the same name already exists within the Group.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupPropertyExists\",\r\n        \"message\": \"GroupProperty with this 'displayName' already exists.\"\r\n    }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidInsightsRequest\",\r\n        \"message\": \"Error message.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}/calculatedProperties/{propertyId}": {
      "delete": {
        "description": "---\r\n\r\nDeletes a CalculatedProperty from a Group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "delete-calculatedproperty",
        "summary": "Delete CalculatedProperty",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Id of the CalculatedProperty to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "Deleted a CalculatedProperty successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InsufficientPermissions\",\r\n    \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n  }\r\n}"
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyNotFound\",\r\n    \"message\": \"Requested CalculatedProperty is not available.\",\r\n    \"target\": \"propertyId\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "get": {
        "description": "---\r\n\r\nGets a CalculatedProperty for a Group.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-calculatedproperty",
        "summary": "Get CalculatedProperty",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "The CalculatedProperty Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Retrieved a CalculatedProperty successfully.",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Single"
            },
            "examples": {
              "application/json": "{\r\n  \"property\": {\r\n    \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n    \"propertyName\": \"CalculatedLength\",\r\n    \"quantityType\": \"Distance\",\r\n    \"type\": \"Length\",\r\n    \"_links\": {\r\n      \"imodel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a\"\r\n      }, \r\n      \"mapping\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f\"\r\n      },\r\n      \"group\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyNotFound\",\r\n    \"message\": \"Requested CalculatedProperty is not available.\",\r\n    \"target\": \"propertyId\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "patch": {
        "description": "---\r\n\r\nUpdates a CalculatedProperty for a Group.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "update-calculatedproperty",
        "summary": "Update CalculatedProperty",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Id of the CalculatedProperty to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "calculatedProperty_Update",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Update"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Updated a CalculatedProperty successfully.",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Single"
            },
            "examples": {
              "application/json": "{\r\n  \"property\": {\r\n    \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n    \"propertyName\": \"CalculatedLength\",\r\n    \"type\": \"Length\",\r\n    \"quantityType\": \"Distance\",\r\n    \"_links\": {\r\n      \"imodel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a\"\r\n      }, \r\n      \"mapping\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f\"\r\n      },\r\n      \"group\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InsufficientPermissions\",\r\n    \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n  }\r\n}"
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyNotFound\",\r\n    \"message\": \"Requested CalculatedProperty is not available.\",\r\n    \"target\": \"propertyId\"\r\n  }\r\n}"
            }
          },
          "409": {
            "description": "CalculatedProperty with the same name already exists within the Group.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyExists\",\r\n    \"message\": \"CalculatedProperty with this 'propertyName' already exists.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidInsightsRequest\",\r\n    \"message\": \"Error message.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}": {
      "get": {
        "description": "---\r\n\r\nGets a Group for a Mapping.\r\n\r\n### Group Query\r\n\r\nThe `query` parameter of a Group supports ECSql and ECClassIds.\r\n\r\nIf a valid ECSql query is given and the selected class is `bis.Element`, or if it is a descendant of the class `bis.Element`, the only required column is `ECInstanceId`.\r\n\r\n- `SELECT * FROM bis.Element` is a valid query\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT * FROM Building.Beam` is a valid query\r\n- `SELECT ECInstanceId FROM bis.Element` is a valid query\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT ECInstanceId FROM Building.Beam` is valid\r\n- `SELECT ECClassId FROM bis.Element` is _not_ a valid query because ECInstanceId column is missing\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT ECClassId FROM Building.Beam` is _not_ valid because ECInstanceId column is missing\r\n- Assuming that `Building.BeamAspect` is an aspect, the query `SELECT A.ECInstanceId FROM bis.Element E JOIN Building.BeamAspect A ON A.Element.Id = E.ECInstanceId` is _not_ valid because the selected `ECInstanceId` is of the aspect, not the element\r\n\r\nIn all other cases when providing an ECSql query it is required to select `ECInstanceId`, `ECClassId`, and all other columns that you are planning to use for mapping. If only `ECInstanceId` and `ECClassId` are selected and other columns are used for mapping, those columns will be filled with `null` values. If either `ECInstanceId` or `ECClassId` column is not selected, the query will not produce any output.\r\n\r\nIf the `query` parameter does not contain a valid ECSql query, then it must be equal to `bis.Element`, `bis.ElementAspect`, or any of their descendants.\r\n\r\nThe ECClassId format `{schemaName}:{schemaItemName}` where `schemaName` does not contain a 3-part version number is supported.\r\n\r\nThe ECClassId format `{schemaName}.{schemaItemName}` is supported.\r\n\r\nThe ECClassId format `{schemaAlias}:{schemaItemName}` where `schemaAlias` is the alias of a `schemaName` is supported.\r\n\r\nThe ECClassId format `{schemaFullName}:{schemaItemName}` where `schemaFullName` contains a 3-part version number is _not_ supported.\r\n\r\nWhen the given ECClassId is equal to `bis.Element` or is one of its descendants, then all elements with the ECClassId will be selected.\r\n\r\nWhen the given ECClassId is equal to `bis.ElementAspect` or is one of its descendants, then all elements that have such aspect will be selected.\r\n\r\nWhen the given ECClassId is none of the above, the query will not produce any output.\r\n\r\n- If a class `Building.Beam` does not have any subclasses and the `query` parameter is set to `Building.Beam`, then all elements with ECClassIds of `Building.Beam` will be selected\r\n- If there is a class `Building.StructuralMember` which has 2 subclasses `Building.Beam` and `Building.Column`, and the `query` parameter is set to `Building.StructuralMember`, then all elements with ECClassIds of `Building.StructuralMember`, `Building.Beam`, and `Building.Column` will be selected\r\n- If a class `Building.BeamAspect` inherits from a class `bis.ElementAspect` (is unique or multi aspect) and the `query` parameter is set to `Building.BeamAspect`, then all elements that have a `Building.BeamAspect` attached to them will be selected. This query will _not_ select the aspects themselves, but the elements that they are attached to. The selected elements may have any ECClassId\r\n- If there is class `Building.StructuralMemberAspect` which has 2 subclasses `Building.BeamAspect` and `Building.ColumnAspect`, the `Building.StructuralMemberAspect` class inherits from a class `bis.ElementAspect` (is unique or multi aspect) and the `query` parameter is set to `Building.StructuralMemberAspect`, then all elements that have `Building.StructuralMemberAspect`, `Building.BeamAspect`, or `Building.ColumnAspect` attached to them will be selected. This query will _not_ select the aspects themselves, but the elements that they are attached to. The selected elements may have any ECClassId\r\n\r\nIf different queries are needed for a single output table, then create multiple Groups with those different queries but with the same name for each Group. That will cause results of all these queries to be concatenated into a single output table. The output table will have column list equal to a union of all GroupProperties of Groups with the same name.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-group",
        "summary": "Get Group",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Retrieved a Group successfully.",
            "schema": {
              "$ref": "#/definitions/Group_Single"
            },
            "examples": {
              "application/json": "{\r\n    \"group\": {\r\n        \"id\": \"08f252c4-ee78-4e2b-9280-f7365400b932\",\r\n        \"groupName\": \"Beams\",\r\n        \"description\": \"A group of beams\",\r\n        \"query\": \"SELECT * FROM Building.Beam\"\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "404": {
            "description": "Specified Group was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupNotFound\",\r\n        \"message\": \"Requested Group is not available.\",\r\n        \"target\": \"id\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "patch": {
        "description": "---\r\n\r\nUpdates a Group for a Mapping.\r\n\r\n### Group Query\r\n\r\nThe `query` parameter of a Group supports ECSql and ECClassIds.\r\n\r\nIf a valid ECSql query is given and the selected class is `bis.Element`, or if it is a descendant of the class `bis.Element`, the only required column is `ECInstanceId`.\r\n\r\n- `SELECT * FROM bis.Element` is a valid query\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT * FROM Building.Beam` is a valid query\r\n- `SELECT ECInstanceId FROM bis.Element` is a valid query\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT ECInstanceId FROM Building.Beam` is valid\r\n- `SELECT ECClassId FROM bis.Element` is _not_ a valid query because ECInstanceId column is missing\r\n- Assuming that class `Building.Beam` is a descendant of the class `bis.Element`, the query `SELECT ECClassId FROM Building.Beam` is _not_ valid because ECInstanceId column is missing\r\n- Assuming that `Building.BeamAspect` is an aspect, the query `SELECT A.ECInstanceId FROM bis.Element E JOIN Building.BeamAspect A ON A.Element.Id = E.ECInstanceId` is _not_ valid because the selected `ECInstanceId` is of the aspect, not the element\r\n\r\nIn all other cases when providing an ECSql query it is required to select `ECInstanceId`, `ECClassId`, and all other columns that you are planning to use for mapping. If only `ECInstanceId` and `ECClassId` are selected and other columns are used for mapping, those columns will be filled with `null` values. If either `ECInstanceId` or `ECClassId` column is not selected, the query will not produce any output.\r\n\r\nIf the `query` parameter does not contain a valid ECSql query, then it must be equal to `bis.Element`, `bis.ElementAspect`, or any of their descendants.\r\n\r\nThe ECClassId format `{schemaName}:{schemaItemName}` where `schemaName` does not contain a 3-part version number is supported.\r\n\r\nThe ECClassId format `{schemaName}.{schemaItemName}` is supported.\r\n\r\nThe ECClassId format `{schemaAlias}:{schemaItemName}` where `schemaAlias` is the alias of a `schemaName` is supported.\r\n\r\nThe ECClassId format `{schemaFullName}:{schemaItemName}` where `schemaFullName` contains a 3-part version number is _not_ supported.\r\n\r\nWhen the given ECClassId is equal to `bis.Element` or is one of its descendants, then all elements with the ECClassId will be selected.\r\n\r\nWhen the given ECClassId is equal to `bis.ElementAspect` or is one of its descendants, then all elements that have such aspect will be selected.\r\n\r\nWhen the given ECClassId is none of the above, the query will not produce any output.\r\n\r\n- If a class `Building.Beam` does not have any subclasses and the `query` parameter is set to `Building.Beam`, then all elements with ECClassIds of `Building.Beam` will be selected\r\n- If there is a class `Building.StructuralMember` which has 2 subclasses `Building.Beam` and `Building.Column`, and the `query` parameter is set to `Building.StructuralMember`, then all elements with ECClassIds of `Building.StructuralMember`, `Building.Beam`, and `Building.Column` will be selected\r\n- If a class `Building.BeamAspect` inherits from a class `bis.ElementAspect` (is unique or multi aspect) and the `query` parameter is set to `Building.BeamAspect`, then all elements that have a `Building.BeamAspect` attached to them will be selected. This query will _not_ select the aspects themselves, but the elements that they are attached to. The selected elements may have any ECClassId\r\n- If there is class `Building.StructuralMemberAspect` which has 2 subclasses `Building.BeamAspect` and `Building.ColumnAspect`, the `Building.StructuralMemberAspect` class inherits from a class `bis.ElementAspect` (is unique or multi aspect) and the `query` parameter is set to `Building.StructuralMemberAspect`, then all elements that have `Building.StructuralMemberAspect`, `Building.BeamAspect`, or `Building.ColumnAspect` attached to them will be selected. This query will _not_ select the aspects themselves, but the elements that they are attached to. The selected elements may have any ECClassId\r\n\r\nIf different queries are needed for a single output table, then create multiple Groups with those different queries but with the same name for each Group. That will cause results of all these queries to be concatenated into a single output table. The output table will have column list equal to a union of all GroupProperties of Groups with the same name.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "update-group",
        "summary": "Update Group",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "Globally Unique Identifier of the target iModel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "Globally Unique Identifier of the target Mapping.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of the Group to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "group_Update",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Group_Update"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Updated a Group successfully.",
            "schema": {
              "$ref": "#/definitions/Group_Single"
            },
            "examples": {
              "application/json": "{\r\n    \"group\": {\r\n        \"id\": \"08f252c4-ee78-4e2b-9280-f7365400b932\",\r\n        \"groupName\": \"Beams\",\r\n        \"description\": \"A group of beams\",\r\n        \"query\": \"SELECT * FROM Building.Beam\"\r\n    }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InsufficientPermissions\",\r\n        \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n    }\r\n}"
            }
          },
          "404": {
            "description": "Specified Group was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupNotFound\",\r\n        \"message\": \"Requested Group is not available.\",\r\n        \"target\": \"id\"\r\n    }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidInsightsRequest\",\r\n        \"message\": \"Error message.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "delete": {
        "description": "---\r\n\r\nDeletes a Group for a Mapping.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "delete-group",
        "summary": "Delete Group",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of the Group to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "204": {
            "description": "Deleted a Group successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InsufficientPermissions\",\r\n        \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n    }\r\n}"
            }
          },
          "404": {
            "description": "Specified Group was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"GroupNotFound\",\r\n        \"message\": \"Requested Group is not available.\",\r\n        \"target\": \"id\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}/calculatedProperties": {
      "get": {
        "description": "---\r\n\r\nGets all CalculatedProperties for a Group.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-calculatedproperties",
        "summary": "Get CalculatedProperties",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "type": "integer"
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Retrieved CalculatedProperties successfully.",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Collection"
            },
            "examples": {
              "application/json": "{\r\n  \"properties\": [\r\n    {\r\n      \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n      \"propertyName\": \"CalculatedLength\",\r\n      \"quantityType\": \"Distance\",\r\n      \"type\": \"Length\",\r\n      \"_links\": {\r\n        \"imodel\": {\r\n          \"href\": \"https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a\"\r\n        }, \r\n        \"mapping\": {\r\n          \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f\"\r\n        },\r\n        \"group\": {\r\n          \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e\"\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"_links\": {\r\n    \"next\": {\r\n      \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/calculatedProperties/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a\" \r\n    },\r\n    \"self\": {\r\n      \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/calculatedProperties/?$top=100\"\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyNotFound\",\r\n    \"message\": \"Requested CalculatedProperty is not available.\",\r\n    \"target\": \"groupId\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidInsightsRequest\",\r\n    \"message\": \"Error message.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      },
      "post": {
        "description": "---\r\n\r\nCreates a CalculatedProperty for a Group. Each CalculatedProperty defines a property or 'column' which is calculated for each element that is returned by the Group's query.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "create-calculatedproperty",
        "summary": "Create CalculatedProperty",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of the Group for which to create a new CalculatedProperty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "calculatedProperty_Create",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Create"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Created a new CalculatedProperty successfully.",
            "schema": {
              "$ref": "#/definitions/CalculatedProperty_Single"
            },
            "examples": {
              "application/json": "{\r\n  \"property\": {\r\n    \"id\": \"1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743\",\r\n    \"propertyName\": \"Length\",\r\n    \"quantityType\": \"Distance\",\r\n    \"type\": \"Length\",\r\n    \"_links\": {\r\n      \"imodel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a\"\r\n      }, \r\n      \"mapping\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f\"\r\n      },\r\n      \"group\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InsufficientPermissions\",\r\n    \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n  }\r\n}"
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyNotFound\",\r\n    \"message\": \"Requested CalculatedProperty is not available.\",\r\n    \"target\": \"groupId\"\r\n  }\r\n}"
            }
          },
          "409": {
            "description": "CalculatedProperty with the same name already exists within the Group.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"CalculatedPropertyExists\",\r\n    \"message\": \"CalculatedProperty with this 'propertyName' already exists.\"\r\n  }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidInsightsRequest\",\r\n    \"message\": \"Error message.\"\r\n  }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/copy": {
      "post": {
        "description": "---\r\n\r\nCopies a Mapping and all its Groups, GroupProperties, CalculatedProperties, and CustomCalculations to a target iModel.\r\n\r\nThe `mappingName` request body property is optional. If the `mappingName` is not provided the new Mapping will have the same name as the source Mapping but with the `_Copy` appendix. If the `mappingName` is provided the new Mapping will have the provided name.\r\n\r\nThe `mappingName` property becomes mandatory if the source Mapping has 124 or more characters in its name.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "copy-mapping",
        "summary": "Copy Mapping",
        "tags": ["Mappings"],
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "Id of the source Mapping's iModel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "Id of the source Mapping.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "type": "string",
            "enum": ["application/vnd.bentley.itwin-platform.v1+json"]
          },
          {
            "name": "mapping_Copy",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Mapping_Copy"
            }
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Copied a Mapping successfully.",
            "schema": {
              "$ref": "#/definitions/Mapping_Single"
            },
            "examples": {
              "application/json": "{\r\n  \"mapping\": {\r\n    \"id\": \"f1fe5959-35ab-467e-83b8-a679b722d80f\",\r\n    \"mappingName\": \"Mapping_name_Copy\",\r\n    \"description\": \"Mapping schema for iModel\",\r\n    \"createdOn\": \"2021-09-03T10:48:45+00:00\",\r\n    \"createdBy\": \"hanson.deck@cohesivecompanies.com\",\r\n    \"modifiedOn\": \"2021-09-03T10:48:45+00:00\",\r\n    \"modifiedBy\": \"hanson.deck@cohesivecompanies.com\",\r\n    \"_links\": {\r\n      \"imodel\": {\r\n        \"href\": \"https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a\"\r\n      }\r\n    }\r\n  }\r\n}"
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InsufficientPermissions\",\r\n        \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n    }\r\n}"
            }
          },
          "404": {
            "description": "Specified Mapping was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"MappingNotFound\",\r\n        \"message\": \"Requested Mapping is not available.\",\r\n        \"target\": \"mappingId\"\r\n    }\r\n}"
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n    \"error\": {\r\n        \"code\": \"InvalidInsightsRequest\",\r\n        \"message\": \"Error message.\"\r\n    }\r\n}"
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "type": "string",
                "description": "The number of requests exceeds the rate-limit for the client subscription."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
            }
          }
        }
      }
    },
    "/odata/{reportId}/{region}/{manifestId}/{entityType}": {
      "get": {
        "description": "---\r\n\r\nLists the raw table data for a Report Entity. \r\n\r\n### Notes\r\n\r\nThis is an OData v4 compliant endpoint.\r\n\r\nThis endpoint should only be accessed using OData compliant libraries and tools such as Power BI.\r\n\r\nUse of these endpoints directly is not prohibited, however we recommend understanding the [OData protocols and conventions](https://www.odata.org/documentation/) first.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with one of schemes:\r\n\r\n- Valid [API Key](/apis/insights/api-keys) used as the password in Basic auth.\r\n- Valid Bearer token for scope `insights:read`.\r\n\r\n### Authorization\r\n\r\nUser must have `insights_view` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "odata-entity",
        "summary": "OData Entity",
        "tags": ["Data Access"],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The Report Id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "region",
            "in": "path",
            "description": "NOTE: These parameters are not meant to be set manually. Instead use the URLs generated by the OData endpoint directly.",
            "required": true,
            "type": "string"
          },
          {
            "name": "manifestId",
            "in": "path",
            "description": "NOTE: These parameters are not meant to be set manually. Instead use the URLs generated by the OData endpoint directly.",
            "required": true,
[...]
