# ---- Authorization Client Settings ----
IMJS_AUTH_CLIENT_CLIENT_ID = ""
IMJS_AUTH_CLIENT_REDIRECT_URI = "http://localhost:3000/signin-callback"
IMJS_AUTH_CLIENT_LOGOUT_URI = "http://localhost:3000"
IMJS_AUTH_CLIENT_SCOPES = "imodelaccess:read imodels:read realitydata:read"
IMJS_AUTH_AUTHORITY = "https://ims.bentley.com"

# Optional identifiers of the iModel that should be opened by default. If not specified,
# they can be supplied to a running application through URL parameters.
IMJS_ITWIN_ID = ""
IMJS_IMODEL_ID = ""

# Optional user credentials to access imodel referenced by IMJS_ITWIN_ID and IMJS_IMODEL_ID.
# If not specified, the app will request you to login.
IMJS_USER_EMAIL = ""
IMJS_USER_PASSWORD = ""

# Space separated ids of widgets that should be added to viewer UI
# Supported widget: 'tree-widget', 'property-grid'
IMJS_ENABLED_WIDGETS = "tree-widget property-grid measure-tools"
