{
  "openapi": "3.0.1",
  "info": {
    "title": "Reporting",
    "description": "Insights is a resource for aggregating iTwin data to build custom dashboards and integrate iTwin data with your business applications.\r\n\r\n- Create digitial twin based reports which can be consumed through business intelligence applications such as Power BI.\r\n- Leverage the OData feed Data Access to generate reports by combining data from multiple data streams in the digital twin.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sbx-api.bentley.com/insights/reporting"
    }
  ],
  "paths": {
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups": {
      "get": {
        "tags": ["Mappings"],
        "summary": "Get Groups",
        "description": "---\r\n\r\nGets all Groups for a Mapping.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-groups",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved Groups successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group_Collection"
                },
                "example": {
                  "groups": [
                    {
                      "id": "08f252c4-ee78-4e2b-9280-f7365400b932",
                      "groupName": "Beams",
                      "description": "A group of beams",
                      "query": "SELECT * FROM Building.Beam"
                    }
                  ],
                  "_links": {
                    "next": {
                      "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a"
                    },
                    "self": {
                      "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/?$top=100"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified Group was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "GroupNotFound",
                    "message": "Requested Group not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Mappings"],
        "summary": "Create Group",
        "description": "---\r\n\r\nCreates a Group for an iModel data source Mappping. A Group is a collection of design elements from an iModel represented by an [ECSQL](https://www.itwinjs.org/learning/ecsql/) query and defines one table in the output data of a Report.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "create-group",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "Id of the Mapping for which to create a new Group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group_Create"
              },
              "example": {
                "groupName": "Beams",
                "description": "A group of beams",
                "query": "SELECT * FROM Building.Beam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created a new Group successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group_Single"
                },
                "example": {
                  "group": {
                    "id": "08f252c4-ee78-4e2b-9280-f7365400b932",
                    "groupName": "Beams",
                    "description": "A group of beams",
                    "query": "SELECT * FROM Building.Beam"
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified Group was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "GroupNotFound",
                    "message": "Requested Group not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}/properties": {
      "post": {
        "tags": ["Mappings"],
        "summary": "Create GroupProperty",
        "description": "---\r\n\r\nCreates a Group Property for a Group. Each Group Property defines a property or 'column' of data desired from a Group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "create-groupproperty",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "Id of the Group for which to create a new GroupProperty.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupProperty_Create"
              },
              "example": {
                "propertyName": "Length",
                "dataType": "Number",
                "quantityType": "Undefined",
                "ecProperties": [
                  {
                    "ecSchemaName": "Building",
                    "ecClassName": "Beam",
                    "ecPropertyName": "Structural_Length",
                    "ecPropertyType": "Number"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created a new Group Property successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupProperty_Single"
                },
                "example": {
                  "property": {
                    "id": "1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743",
                    "propertyName": "Length",
                    "dataType": "Number",
                    "quantityType": "Undefined",
                    "ecProperties": [
                      {
                        "ecSchemaName": "Building",
                        "ecClassName": "Beam",
                        "ecPropertyName": "Structural_Length",
                        "ecPropertyType": "Number"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified GroupProperty was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "GroupPropertyNotFound",
                    "message": "Requested GroupProperty not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "409": {
            "description": "GroupProperty with the same name already exists within the Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "GroupPropertyExists",
                    "message": "GroupProperty with this 'displayName' already exists."
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Mappings"],
        "summary": "Get GroupProperties",
        "description": "---\r\n\r\nGets all Group Properties for a Group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-groupproperties",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved Group Properties successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupProperty_Collection"
                },
                "example": {
                  "properties": [
                    {
                      "id": "1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743",
                      "propertyName": "Length",
                      "dataType": "Number",
                      "quantityType": "Undefined",
                      "ecProperties": [
                        {
                          "ecSchemaName": "Building",
                          "ecClassName": "Beam",
                          "ecPropertyName": "Structural_Length",
                          "ecPropertyType": "Number"
                        }
                      ]
                    }
                  ],
                  "_links": {
                    "next": {
                      "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/properties/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a"
                    },
                    "self": {
                      "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/08f252c4-ee78-4e2b-9280-f7365400b932/properties/?$top=100"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified GroupProperty was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "GroupPropertyNotFound",
                    "message": "Requested GroupProperty not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/export/{reportId}/{region}/{manifestId}/{entityType}": {
      "get": {
        "tags": ["Data Access"],
        "summary": "Export Entity",
        "description": "---\r\n\r\nLists the raw table data for a Report Entity. \r\n\r\n### Notes\r\n\r\nThis is an OData v4 compliant endpoint.\r\n\r\nThis endpoint should only be accessed using OData compliant libraries and tools such as Power BI.\r\n\r\nUse of these endpoints directly is not prohibited, however we recommend understanding the [OData protocols and conventions](https://www.odata.org/documentation/) first.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with one of schemes:\r\n\r\n- Valid [API Key](/apis/insights/api-keys) used as the password in Basic auth.\r\n- Valid Bearer token for scope `insights:read`.\r\n\r\n### Authorization\r\n\r\nUser must have `REPORTINGVIEW` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "export-entity",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The Report Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "description": "NOTE: These parameters are not meant to be set manually. Instead use the URLs generated by the Export endpoint directly.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifestId",
            "in": "path",
            "description": "NOTE: These parameters are not meant to be set manually. Instead use the URLs generated by the Export endpoint directly.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "NOTE: These parameters are not meant to be set manually. Instead use the URLs generated by the Export endpoint directly.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved specified OData Entity successfully.",
            "content": {
              "application/json": {
                "example": {
                  "@odata.context": "https://api.bentley.com/insights/reporting/export/b13596d1-a377-403b-a9b0-d1082b58a528/$metadata#EntityName",
                  "value": [
                    {
                      "ECInstanceId": "0x20000003c47",
                      "ECClassId": "ECClassId",
                      "UserLabel": "UserLabel",
                      "BBoxLow": "{\"x\":-0.022826467141817866,\"y\":-0.0898257099952467,\"z\":-0.44161943144956656}",
                      "BBoxHigh": "{\"x\":0.28378143411477086,\"y\":0.19617697411669016,\"z\":0.5713601831727827}"
                    }
                  ],
                  "@odata.nextLink": "https://api.bentley.com/insights/reporting/export/b13596d1-a377-403b-a9b0-d1082b58a528/EUS/0a76cffd-7646-4dcb-877b-cb9e110f7f10/EntityName?sequence=1"
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified Entity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "EntityNotFound",
                    "message": "Requested Entity not available."
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/mappings/{mappingId}/groups/{groupId}/calculatedProperties/{propertyId}": {
      "delete": {
        "tags": ["Mappings"],
        "summary": "Delete Calculated Property",
        "description": "---\r\n\r\nDeletes a Calculated Property from a Group.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "delete-calculatedproperty",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Id of the CalculatedProperty to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted a Calculated Property successfully."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CalculatedPropertyNotFound",
                    "message": "Requested CalculatedProperty not available.",
                    "target": "propertyId"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Mappings"],
        "summary": "Update Calculated Property",
        "description": "---\r\n\r\nUpdates a Calculated Property for a Group.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "update-calculatedproperty",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Id of the CalculatedProperty to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculatedProperty_Update"
              },
              "example": {
                "propertyName": "UpdatedVolume",
                "type": "Volume"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated a Calculated Property successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatedProperty_Single"
                },
                "example": {
                  "property": {
                    "id": "1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743",
                    "propertyName": "CalculatedLength",
                    "type": "Length",
                    "quantityType": "Distance",
                    "_links": {
                      "imodel": {
                        "href": "https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a"
                      },
                      "mapping": {
                        "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f"
                      },
                      "group": {
                        "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CalculatedPropertyNotFound",
                    "message": "Requested CalculatedProperty not available.",
                    "target": "propertyId"
                  }
                }
              }
            }
          },
          "409": {
            "description": "CalculatedProperty with the same name already exists within the Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CalculatedPropertyExists",
                    "message": "CalculatedProperty with this 'propertyName' already exists."
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Mappings"],
        "summary": "Get Calculated Property",
        "description": "---\r\n\r\nGets a Calculated Property for a Group.\r\n\r\n### Calculation Types\r\n\r\nCalculation types that start with `BoundingBox` use element aligned bounding boxes. They can be used for approximations of geometric element dimensions when there are no available properties that would have exact dimensions. Some errors may occur due to bounding boxes not being a perfect fit for the surrounded element.\r\n\r\nList of all available calculation types:\r\n\r\n- `Length` - calculation of a linear element length or a perimeter of a geometric element that does not have a volume. For elements that have a volume use BoundingBox calculations to approximate the length.\r\n- `Area` - calculation of a geometric element's surface area.\r\n- `Volume` - calculation of a geometric element's volume.\r\n- `BoundingBoxLongestEdgeLength` - calculation that gives the longest edge length of an element aligned bounding box.\r\n- `BoundingBoxIntermediateEdgeLength` - calculation that gives the edge length that is not the longest nor the shortest of an element aligned bounding box.\r\n- `BoundingBoxShortestEdgeLength` - calculation that gives the shortest edge length of an element aligned bounding box.\r\n- `BoundingBoxDiagonalLength` - calculation that gives the distance between 2 opposite corners of the element aligned bounding box.\r\n- `BoundingBoxLongestFaceDiagonalLength` - calculation that gives the longest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n- `BoundingBoxIntermediateFaceDiagonalLength` - calculation that gives the distance between 2 opposite corners of a face on the element aligned bounding box that is not the longest nor the shortest.\r\n- `BoundingBoxShortestFaceDiagonalLength` - calculation that gives the shortest distance between 2 opposite corners of a face on the element aligned bounding box.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-calculatedproperty",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "in": "path",
            "description": "The Mapping Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The Group Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "The CalculatedProperty Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved a Calculated Property successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatedProperty_Single"
                },
                "example": {
                  "property": {
                    "id": "1ba1f4dd-efc1-4bd1-86f0-a69a4f0d4743",
                    "propertyName": "CalculatedLength",
                    "quantityType": "Distance",
                    "type": "Length",
                    "_links": {
                      "imodel": {
                        "href": "https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a"
                      },
                      "mapping": {
                        "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f"
                      },
                      "group": {
                        "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/f1fe5959-35ab-467e-83b8-a679b722d80f/groups/1d9ae44a-2204-4bf6-8397-5c590e04ba3e"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified CalculatedProperty was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CalculatedPropertyNotFound",
                    "message": "Requested CalculatedProperty not available.",
                    "target": "propertyId"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get Project Reports",
        "description": "---\r\n\r\nGets all Reports within the context of a Project.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `REPORTINGVIEW` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-project-reports",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "The Project Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "Optionally filter Reports by those marked for deletion. NOTE: Reports marked for deletion will be permanently deleted after 1 month unless deletion is reverted.",
            "schema": {
              "enum": [true, false],
              "type": "boolean"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched all project Reports successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report_Collection"
                },
                "example": {
                  "reports": [
                    {
                      "id": "617c13fd-2547-4d85-87a3-28f21f29daf2",
                      "displayName": "iModel Report",
                      "description": "Report containing iModel Mappings",
                      "deleted": false,
                      "_links": {
                        "project": {
                          "href": "https://api.bentley.com/projects/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        }
                      }
                    }
                  ],
                  "_links": {
                    "next": {
                      "href": "https://api.bentley.com/insights/reporting/reports/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a&projectId=3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "self": {
                      "href": "https://api.bentley.com/insights/reporting/reports/?$top=100&projectId=3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified Report was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ReportNotFound",
                    "message": "Requested Report is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/datasources/imodels/{imodelId}/extraction/run": {
      "post": {
        "tags": ["Extraction"],
        "summary": "Run Extraction",
        "description": "---\r\n\r\nUsed to trigger Extraction of data from an iModel. For the iModel data source, data must be Extracted first before it can be used in your Reports.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_write` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "run-extraction",
        "parameters": [
          {
            "name": "imodelId",
            "in": "path",
            "description": "The iModel Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Started an Extraction Run successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extraction_Run"
                },
                "example": {
                  "run": {
                    "id": "jg0156461l5abeom8v1mslhlkc-cmar9d9hjof2hu4tidj4rmiur5i6crul"
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified ExtractionRun was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ExtractionRunNotFound",
                    "message": "Requested ExtractionRun is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}/datasources/imodelMappings": {
      "post": {
        "tags": ["Reports"],
        "summary": "Create Report Mapping",
        "description": "---\r\n\r\nCreates a Report Mapping. Each one links a Mapping to a Report and each Report can have more than one Report Mapping. \r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `imodels_read`, `REPORTINGEDIT` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "create-report-mapping",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The Report Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Report_Mapping_Create"
              },
              "example": {
                "mappingId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                "imodelId": "70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created a new Report Mapping successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report_Mapping_Single"
                },
                "example": {
                  "mapping": {
                    "reportId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "mappingId": "e3eb6edf-ab40-4b71-adb6-1f8dec1f8ea2",
                    "imodelId": "70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a",
                    "_links": {
                      "report": {
                        "href": "https://api.bentley.com/insights/reporting/reports/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      },
                      "mapping": {
                        "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/e3eb6edf-ab40-4b71-adb6-1f8dec1f8ea2"
                      },
                      "imodel": {
                        "href": "https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified ReportMapping was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ReportMappingNotFound",
                    "message": "Requested ReportMapping is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Reports"],
        "summary": "Get Report Mappings",
        "description": "---\r\n\r\nGets all Report Mappings for a Report.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `REPORTINGVIEW` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-report-mappings",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The Report Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional max items to be sent in response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "$continuationToken",
            "in": "query",
            "description": "Optional token to retrieve next page in paginated response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Report Mappings successfully. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report_Mapping_Collection"
                },
                "example": {
                  "mappings": [
                    {
                      "reportId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "mappingId": "e3eb6edf-ab40-4b71-adb6-1f8dec1f8ea2",
                      "imodelId": "70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a",
                      "_links": {
                        "report": {
                          "href": "https://api.bentley.com/insights/reporting/reports/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                        },
                        "mapping": {
                          "href": "https://api.bentley.com/insights/reporting/datasources/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a/mappings/e3eb6edf-ab40-4b71-adb6-1f8dec1f8ea2"
                        },
                        "imodel": {
                          "href": "https://api.bentley.com/imodels/70a3d6d3-5385-4bc3-87c4-b6bf106e1c0a"
                        }
                      }
                    }
                  ],
                  "_links": {
                    "next": {
                      "href": "https://api.bentley.com/insights/reporting/reports/3fa85f64-5717-4562-b3fc-2c963f66afa6/datasources/imodelMappings/?$top=100&$continuationToken=ddac51e3-3d37-4407-816e-52b9fc80d70a"
                    },
                    "self": {
                      "href": "https://api.bentley.com/insights/reporting/reports/3fa85f64-5717-4562-b3fc-2c963f66afa6/datasources/imodelMappings/?$top=100"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified ReportMapping was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ReportMappingNotFound",
                    "message": "Requested ReportMapping is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "422": {
            "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InvalidInsightsRequest",
                    "message": "Error message"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "delete": {
        "tags": ["Reports"],
        "summary": "Delete Report",
        "description": "---\r\n\r\nMarks a Report for deletetion. Reports are permanently deleted one month after being marked for deletion. A Report marked for deletion can be restored if it hasn't been permanently deleted yet.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `REPORTINGEDIT` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "delete-report",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "Id of the Report to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:modify`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Report was marked for deletion. Report will be permanently deleted one month after being marked for deletion."
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "403": {
            "description": "The user has insufficient permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "InsufficientPermissions",
                    "message": "The user has insufficient permissions for the requested operation."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Specified Report was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ReportNotFound",
                    "message": "Requested Report is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Reports"],
        "summary": "Get Report",
        "description": "---\r\n\r\nGets a single Report.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `REPORTINGVIEW` permission(s) assigned at the Project level. iModel specific permissions may also be applied at the iModel level if iModel level permissions are enabled.\r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project or iModel.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---\r\n",
        "operationId": "get-report",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The Report Id.",
            "required": true,
            "schema": {
              "type": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token with scope `insights:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
            "schema": {
              "enum": ["application/vnd.bentley.itwin-platform.v1+json"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Report successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report_Single"
                },
                "example": {
                  "report": {
                    "id": "617c13fd-2547-4d85-87a3-28f21f29daf2",
                    "displayName": "iModel Report",
                    "description": "Report containing iModel Mappings",
                    "deleted": false,
                    "_links": {
                      "project": {
                        "href": "https://api.bentley.com/projects/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint."
                }
              }
            }
          },
          "404": {
            "description": "Specified Report was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ReportNotFound",
                    "message": "Requested Report is not available.",
                    "target": "id"
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates that the user has sent too many requests in a given amount of time.",
            "headers": {
              "retry-after": {
                "description": "The number of requests exceeds the rate-limit for the client subscription.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "code": "TooManyRequests",
                  "message": "More requests were received than the subscription rate-limit allows."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Reports"],
        "summary": "Update Report",
[...]
