# CI Build

trigger:
  - master

pr:
  drafts: false
  branches:
    include:
      - master

schedules:
  - cron: "0 9 * * Mon-Fri"
    displayName: Weekday 4 AM (UTC -5) daily build
    branches:
      include:
        - master

jobs:
  - job: Build
    condition: succeeded()
    strategy:
      matrix:
        "Windows - Node 16.20.0":
          NodeVersion: 16.20.x
          OS: windows-latest
        "Linux - Node 16.20.0":
          NodeVersion: 16.20.x
          OS: ubuntu-latest
        "Mac - Node 16.20.0":
          NodeVersion: 16.20.x
          OS: macOS-latest

    workspace:
      clean: all

    pool:
      vmImage: $(OS)
    steps:
      - checkout: self
        clean: all
      - template: templates/build.yaml
