# CI Build

trigger:
  - master
  - gh-readonly-queue/master

pr:
  drafts: false
  branches:
    include:
      - master

schedules:
  - cron: "0 9 * * Mon-Fri"
    displayName: Weekday 4 AM (UTC -5) daily build
    branches:
      include:
        - master

jobs:
  - job: Build
    condition: succeeded()
    strategy:
      matrix:
        "Windows - Node 18.16.0":
          NodeVersion: 18.16.0
          OS: windows-latest
        "Linux - Node 18.16.0":
          NodeVersion: 18.16.0
          OS: ubuntu-latest
        "Mac - Node 18.16.0":
          NodeVersion: 18.16.0
          OS: macOS-latest

    workspace:
      clean: all

    pool:
      vmImage: $(OS)
    steps:
      - checkout: self
        clean: all
      - template: templates/build.yaml

  - job: Run_e2e_tests
    displayName: "Run e2e tests"
    condition: succeeded()
    workspace:
      clean: all
    pool:
      vmImage: ubuntu-latest
    variables:
      - group: "viewer-components-react e2e tests env"
    steps:
      - checkout: self
        clean: true
      - task: NodeTool@0
        displayName: "Use Node 18.16.0"
        inputs:
          versionSpec: "18.16.0"
          checkLatest: true
      - script: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin
        displayName: git config
      - script: node common/scripts/install-run-rush.js install
        displayName: rush install
      - script: node common/scripts/install-run-rush.js test:e2e --verbose
        displayName: "rush test:e2e"
        env:
          CI: true
          IMJS_AUTH_CLIENT_CLIENT_ID: $(IMJS_AUTH_CLIENT_CLIENT_ID)
          IMJS_USER_EMAIL: $(IMJS_USER_EMAIL)
          IMJS_USER_PASSWORD: $(IMJS_USER_PASSWORD)
