{
  "swagger": "2.0",
  "info": {
      "title": "Carbon Calculation",
      "version": "v1",
      "description": "Access iTwin data integrations with various Carbon Calculation solutions for Embodied Carbon, Life Cycle Assesments, and more."
  },
  "host": "api.bentley.com",
  "basePath": "/insights/carbon-calculation",
  "schemes": [
      "https"
  ],
  "securityDefinitions": {
      "apiKeyHeader": {
          "type": "apiKey",
          "name": "X-Api-Subscription-Key",
          "in": "header"
      },
      "apiKeyQuery": {
          "type": "apiKey",
          "name": "subscription-key",
          "in": "query"
      },
      "oauth2Bentley OAuth2 Service": {
          "type": "oauth2",
          "scopes": {
              "insights:read insights:modify": ""
          },
          "flow": "accessCode",
          "authorizationUrl": "https://ims.bentley.com/connect/authorize",
          "tokenUrl": "https://ims.bentley.com/connect/token"
      }
  },
  "security": [
      {
          "apiKeyHeader": [],
          "oauth2Bentley OAuth2 Service": [
              "insights:read insights:modify"
          ]
      },
      {
          "apiKeyQuery": [],
          "oauth2Bentley OAuth2 Service": [
              "insights:read insights:modify"
          ]
      }
  ],
  "paths": {
      "/oneclicklca/jobs/{jobId}": {
          "get": {
              "description": "---\r\n\r\nQueries One Click LCA job status.\r\n\r\n### One Click LCA\r\n\r\n[One Click LCA](https://www.oneclicklca.com) is a third-party construction LCA and EPD software company. Bentley's iTwin Platform integration with One Click LCA allows you to take Quantity Takeoff Reports created using the iTwin Reporting Platform and export them to One Click LCA for convenient Life Cycle Analysis. iTwin Platform enables the incorporation of engineering data created by diverse design tools, which is exported through this integration, allowing you to gain insights into the environmental impacts of your infrastructure projects.\r\n\r\nSee [iTwin Reporting Platform documentation](https://developer.bentley.com/apis/insights) for guidance on how to create a Report.\r\n\r\nAn account with One Click LCA is required.\r\n\r\nBentley is not responsible or liable for third-party resources' content, products, services, or practices and does not make any representations regarding their quality, availability or accuracy. Access and use of One Click LCA resources are subject to the terms and conditions set forth by One Click LCA.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:read`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `insights_view` permission(s) assigned at the Project level. \r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---\r\n",
              "operationId": "get-oneclicklca-job-status",
              "summary": "Get One Click LCA job status",
              "tags": [
                  "One Click LCA"
              ],
              "parameters": [
                  {
                      "name": "jobId",
                      "in": "path",
                      "description": "The Job Id.",
                      "required": true,
                      "type": "string"
                  },
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "OAuth access token with scope `insights:read`",
                      "required": true,
                      "type": "string"
                  },
                  {
                      "name": "Accept",
                      "in": "header",
                      "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                      "type": "string",
                      "enum": [
                          "application/vnd.bentley.itwin-platform.v1+json"
                      ]
                  }
              ],
              "produces": [
                  "application/json"
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/JobStatusResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"job\": {\r\n    \"id\": \"f7dc5506-84c4-4505-9995-66d81e6fd907_9c317475-4c02-487a-9377-418deecaea05\",\r\n    \"fileToken\": \"9c3174754c02\",\r\n    \"status\": \"Queued\",\r\n    \"message\": \"\",\r\n    \"_links\": {\r\n      \"report\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/reports/f7dc5506-84c4-4505-9995-66d81e6fd907\"\r\n      },\r\n      \"oneclicklca\": {\r\n        \"href\": \"https://www.oneclicklcaapp.com/app/sec/importMapper/index?applicationId=IFC&importMapperId=IFCFromSimpleBIM&importFilePath=9c3174754c02\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
                      }
                  },
                  "401": {
                      "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                      "schema": {
                          "$ref": "#/definitions/ErrorResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
                      }
                  },
                  "404": {
                      "description": "Specified Job was not found.",
                      "schema": {
                          "$ref": "#/definitions/ErrorContainer"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"JobNotFound\",\r\n    \"message\": \"Requested Job is not available.\",\r\n    \"target\": \"jobId\"\r\n  }\r\n}\r\n"
                      }
                  },
                  "429": {
                      "description": "This response indicates that the user has sent too many requests in a given amount of time.",
                      "headers": {
                          "retry-after": {
                              "type": "string",
                              "description": "The number of requests exceeds the rate-limit for the client subscription."
                          }
                      },
                      "schema": {
                          "$ref": "#/definitions/ErrorResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
                      }
                  }
              }
          }
      },
      "/oneclicklca/jobs": {
          "post": {
              "description": "---\r\n\r\nUploads report data to One Click LCA.\r\n\r\n### One Click LCA\r\n\r\n[One Click LCA](https://www.oneclicklca.com) is a third-party construction LCA and EPD software company. Bentley's iTwin Platform integration with One Click LCA allows you to take Quantity Takeoff Reports created using the iTwin Reporting Platform and export them to One Click LCA for convenient Life Cycle Analysis. iTwin Platform enables the incorporation of engineering data created by diverse design tools, which is exported through this integration, allowing you to gain insights into the environmental impacts of your infrastructure projects.\r\n\r\nSee [iTwin Reporting Platform documentation](https://developer.bentley.com/apis/insights) for guidance on how to create a Report.\r\n\r\nAn account with One Click LCA is required.\r\n\r\nBentley is not responsible or liable for third-party resources' content, products, services, or practices and does not make any representations regarding their quality, availability or accuracy. Access and use of One Click LCA resources are subject to the terms and conditions set forth by One Click LCA.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `insights:modify`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have `insights_view` permission(s) assigned at the Project level. \r\n\r\nAlternatively the user should be an Organization Administrator for the Organization that owns a given Project.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://communities.bentley.com/communities/other_communities/licensing_cloud_and_web_services/w/wiki/50711/user-management-2-0) wiki page.\r\n\r\n---\r\n",
              "operationId": "create-oneclicklca-job",
              "summary": "Create One Click LCA job",
              "tags": [
                  "One Click LCA"
              ],
              "parameters": [
                  {
                      "name": "Authorization",
                      "in": "header",
                      "description": "OAuth access token with scope `insights:modify`",
                      "required": true,
                      "type": "string"
                  },
                  {
                      "name": "Accept",
                      "in": "header",
                      "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                      "type": "string",
                      "enum": [
                          "application/vnd.bentley.itwin-platform.v1+json"
                      ]
                  },
                  {
                      "name": "jobCreate",
                      "in": "body",
                      "schema": {
                          "$ref": "#/definitions/JobCreate"
                      }
                  }
              ],
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/JobCreationResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"job\": {\r\n    \"id\": \"f7dc5506-84c4-4505-9995-66d81e6fd907_9c317475-4c02-487a-9377-418deecaea05\",\r\n    \"_links\": {\r\n      \"report\": {\r\n        \"href\": \"https://api.bentley.com/insights/reporting/reports/f7dc5506-84c4-4505-9995-66d81e6fd907\"\r\n      },\r\n      \"job\": {\r\n        \"href\": \"https://api.bentley.com/insights/carbon-calculation/oneclicklca/jobs/f7dc5506-84c4-4505-9995-66d81e6fd907_9c317475-4c02-487a-9377-418deecaea05\"\r\n      }\r\n    }\r\n  }\r\n}\r\n"
                      }
                  },
                  "401": {
                      "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                      "schema": {
                          "$ref": "#/definitions/ErrorResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"Unauthorized\",\r\n    \"message\": \"Access denied due to invalid access_token. Make sure to provide a valid token for this API endpoint.\"\r\n  }\r\n}\r\n"
                      }
                  },
                  "403": {
                      "description": "The user has insufficient permissions for the requested operation.",
                      "schema": {
                          "$ref": "#/definitions/ErrorContainer"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InsufficientPermissions\",\r\n    \"message\": \"The user has insufficient permissions for the requested operation.\"\r\n  }\r\n}\r\n"
                      }
                  },
                  "422": {
                      "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                      "schema": {
                          "$ref": "#/definitions/ErrorContainer"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidCarbonCalculationRequest\",\r\n    \"message\": \"Error message.\"\r\n  }\r\n}\r\n"
                      }
                  },
                  "429": {
                      "description": "This response indicates that the user has sent too many requests in a given amount of time.",
                      "headers": {
                          "retry-after": {
                              "type": "string",
                              "description": "The number of requests exceeds the rate-limit for the client subscription."
                          }
                      },
                      "schema": {
                          "$ref": "#/definitions/ErrorResponse"
                      },
                      "examples": {
                          "application/json": "{\r\n  \"error\": {\r\n    \"code\": \"TooManyRequests\",\r\n    \"message\": \"More requests were received than the subscription rate-limit allows.\"\r\n  }\r\n}\r\n"
                      }
                  }
              }
          }
      }
  },
  "definitions": {
      "JobCreate": {
          "title": "One Click LCA Job (create)",
          "description": "Properties of One Click LCA job to be created.",
          "required": [
              "reportId",
              "token"
          ],
          "type": "object",
          "properties": {
              "reportId": {
                  "description": "Report identifier used to upload report data to One Click LCA.",
                  "type": "string"
              },
              "token": {
                  "description": "One Click LCA token. Acquiring a token is possible using One Click LCA APIs. Contact api@oneclicklca.com for support.",
                  "type": "string"
              }
          },
          "example": "{\r\n  \"reportId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\r\n  \"token\": \"string\"\r\n}\r\n"
      },
      "JobCreationResponse": {
          "title": "One Click LCA job response",
          "description": "Container for One Click LCA job object.",
          "type": "object",
          "properties": {
              "job": {
                  "$ref": "#/definitions/JobCreation"
              }
          }
      },
      "JobCreation": {
          "title": "One Click LCA job",
          "description": "Representation of One Click LCA job.",
          "type": "object",
          "properties": {
              "id": {
                  "description": "One Click LCA job id.",
                  "type": "string"
              },
              "_links": {
                  "$ref": "#/definitions/JobLinks"
              }
          }
      },
      "JobLinks": {
          "title": "One Click LCA job links",
          "description": "URLs for getting related data.",
          "type": "object",
          "properties": {
              "report": {
                  "$ref": "#/definitions/Link"
              },
              "job": {
                  "$ref": "#/definitions/Link"
              }
          }
      },
      "Link": {
          "title": "Link",
          "description": "Hyperlink container.",
          "type": "object",
          "properties": {
              "href": {
                  "description": "Hyperlink to the specific entity.",
                  "type": "string"
              }
          }
      },
      "JobStatusResponse": {
          "title": "One Click LCA job status response",
          "description": "Container for One Click LCA job object.",
          "type": "object",
          "properties": {
              "job": {
                  "$ref": "#/definitions/JobStatus"
              }
          }
      },
      "JobStatus": {
          "title": "One Click LCA job status",
          "description": "Representation of One Click LCA job status.",
          "type": "object",
          "properties": {
              "id": {
                  "description": "Globally Unique Identifier of the One Click LCA job.",
                  "type": "string"
              },
              "fileToken": {
                  "description": "Unique Identifier used in One Click LCA webpage to reach uploaded report data.",
                  "type": "string"
              },
              "message": {
                  "description": "Representation of error message.",
                  "type": "string"
              },
              "status": {
                  "description": "Indicates state of the One Click LCA job.",
                  "enum": [
                      "Queued",
                      "Running",
                      "Succeeded",
                      "Failed"
                  ]
              },
              "_links": {
                  "$ref": "#/definitions/JobStatusLinks"
              }
          }
      },
      "JobStatusLinks": {
          "title": "One Click LCA job status links",
          "description": "URLs for getting related data.",
          "type": "object",
          "properties": {
              "report": {
                  "$ref": "#/definitions/Link"
              },
              "oneclicklca": {
                  "$ref": "#/definitions/Link"
              }
          }
      },
      "ErrorContainer": {
          "title": "Error Response",
          "description": "Gives details for an error that occurred while handling the request. Note that clients MUST NOT assume that every failed request will produce an object of this schema, or that all of the properties in the response will be non-null, as the error may have prevented this response from being constructed.",
          "required": [
              "error"
          ],
          "type": "object",
          "properties": {
              "error": {
                  "$ref": "#/definitions/Error"
              }
          }
      },
      "Error": {
          "description": "Contains error information and an optional array of more specific errors.",
          "required": [
              "code",
              "message"
          ],
          "type": "object",
          "properties": {
              "code": {
                  "description": "One of a server-defined set of error codes.",
                  "type": "string"
              },
              "message": {
                  "description": "A human-readable representation of the error.",
                  "type": "string"
              },
              "details": {
                  "description": "Optional array of more specific errors.",
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/ErrorDetails"
                  }
              }
          }
      },
      "ErrorDetails": {
          "title": "Error Details",
          "description": "Contains error information.",
          "required": [
              "code",
              "message"
          ],
          "type": "object",
          "properties": {
              "code": {
                  "description": "One of a server-defined set of error codes.",
                  "type": "string"
              },
              "message": {
                  "description": "A human-readable representation of the error.",
                  "type": "string"
              }
          }
      },
      "ErrorResponse": {
          "title": "Error Response",
          "description": "Gives details for an error that occurred while handling the request. Note that clients MUST NOT assume that every failed request will produce an object of this schema, or that all of the properties in the response will be non-null, as the error may have prevented this response from being constructed.",
          "required": [
              "error"
          ],
          "type": "object",
          "properties": {
              "error": {
                  "$ref": "#/definitions/Error"
              }
          }
      }
  },
  "tags": []
}